/ {
	pwmleds {
		compatible = "pwm-leds";

		pump1a: pump1a {
			pwms = <&pwm0 0 PWM_USEC(250) PWM_POLARITY_NORMAL>;
		};
		pump1b: pump1b {
			pwms = <&pwm1 0 PWM_USEC(250) PWM_POLARITY_NORMAL>;
		};
		pump2a: pump2a {
			pwms = <&pwm0 1 PWM_USEC(250) PWM_POLARITY_NORMAL>;
		};
		pump2b: pump2b {
			pwms = <&pwm1 1 PWM_USEC(250) PWM_POLARITY_NORMAL>;
		};
		pump3a: pump3a {
			pwms = <&pwm0 2 PWM_USEC(250) PWM_POLARITY_NORMAL>;
		};
		pump3b: pump3b {
			pwms = <&pwm1 2 PWM_USEC(250) PWM_POLARITY_NORMAL>;
		};
		pump4a: pump4a {
			pwms = <&pwm0 3 PWM_USEC(250) PWM_POLARITY_NORMAL>;
		};
		pump4b: pump4b {
			pwms = <&pwm1 3 PWM_USEC(250) PWM_POLARITY_NORMAL>;
		};
	};
};

&pwm0 {
	status = "okay";
	pinctrl-0 = <&pwm0_default>;
	pinctrl-names = "default";
};

&pwm1 {
	status = "okay";
	pinctrl-0 = <&pwm1_default>;
	pinctrl-names = "default";
};

&pinctrl {
	pwm0_default: pwm0_default {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 0, 6)>,
				<NRF_PSEL(PWM_OUT1, 0, 17)>,
				<NRF_PSEL(PWM_OUT2, 0, 22)>,
				<NRF_PSEL(PWM_OUT3, 1, 0)>;
		};
	};

	pwm1_default: pwm1_default {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 0, 8)>,
				<NRF_PSEL(PWM_OUT1, 0, 20)>,
				<NRF_PSEL(PWM_OUT2, 0, 24)>,
				<NRF_PSEL(PWM_OUT3, 0, 11)>;
		};
	};
};

/* Console is RTT; uart0 default pins (P0.06/P0.08) collide with pump 1 PWM */
&uart0 {
	status = "disabled";
};
